.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Spazio tra i campi di input */
    max-width: 400px;
    margin: auto;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  button {
    margin-top: 16px;
  }
  
  .buttons-container {
    display:flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  p {
    margin-top: 16px;
    font-weight: bold;
    font-family: 'Aptos';
  }
  
  label {
    font-family: 'Aptos';
    margin-right: 10px;
  }

  .form-group {
    display:grid;
    align-items: center;
    margin-bottom: 16px; /* Spazio tra le righe */
  }
  
  .form-group label {
    margin-right: 16px; /* Spazio tra la label e il gruppo di toggle */
  }

  .category-group {
    margin-bottom: 100px !important; /* Aggiunge spazio sotto il gruppo Categoria */
  }
  
  .sub-category-group {
    margin-top: 100px !important; /* Aggiunge spazio sopra il gruppo Sub-Category */
  }
  
  mat-hint {
    color: gray; /* Cambia il colore del testo degli hints */
    font-size: 11px; /* Cambia la dimensione del testo degli hints */
    font-family: "Aptos";
  }

  .hint-on-hover mat-form-field {
    width: 100%;
  }

  .hint-on-hover mat-hint {
    display: none; /* Nasconde l'hint di default */
    white-space: normal;
  }
  
  .hint-on-hover:hover mat-hint {
    display: block; /* Mostra l'hint al passaggio del mouse */
  }

  .hint-on-hover mat-button-toggle-group {
    width: 100%;
  }
